a {
    color: black;
}
div.hover {
    width: 80%;
    height: 80%;
    transition-duration: 1s;

}

div.hover:hover {
    width: 90%;
    height: 90%;
    background-color: rgb(230, 187, 230);
    font-weight: bolder;
    font-size: larger;
    color: rgb(99, 41, 23);

}

.corp {
    background-image: url(../ASSETS/images_the_district/image_retoucher/plat_accueil/couleur-bordeaux-10.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
    font-weight: bold;
    color: darkmagenta;
    text-shadow: 2px 2px 5px whitesmoke, 2px 2px 10px whitesmoke;
}

.overlay {
    position: absolute;
    top: 22vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.card.card-empty {
    border: none;
}

.empty-row {
    min-height: 21vw;
}

img {
    width: 80%;
    height: 80%;
    transition-duration: 1s;
}



.text {
    font-style: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paccueil{
    width: 20vw;
    height: 15vw;
}


@media only screen and (max-width: 576px) {
    .mobile {
        display: none;
    }

}
@media only screen and (min-width: 576px) {
    .nombre4{
        display: none;
    }    
    .nombre5{
        display: none;
    }
}